<div class="container-fluid">
    <h3 class="titulos-categoria-admin mt-3">Resumen del Sistema</h3>
    <div *ngIf="alerta==1" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Seleccione una opcion</strong> para que aparezca la informacion.
        <button (click)="alerta=0" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr class="bg-dark" style="color: #444444;">
      <div class="row">
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Usuarios</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Medios</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Paginas de informacion</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Posts</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Paginas de Principal</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Temas</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
      </div>
</div>