<div class="container-fluid">
    <h3 class="titulos-categoria-admin mt-3">Resumen del Sistema</h3>
    <div *ngIf="alerta==1" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Seleccione una opcion</strong> para que aparezca la informacion.
        <button (click)="alerta=0" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr class="bg-dark" style="color: #444444;">
      <div class="row">
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Usuarios</b>
            </ng-template>
            <ng-template ngbPanelContent >
              <div class="container-fluid">
                <div class="row res-usuarios">
                  <div class="col-xl-6 cant-usuarios bordes">
                    <div class="det-usuarios">
                      <div class="num-usuarios">
                        <p class="mt-3">{{cantidadUsuariosAdmins}}</p>
                      </div>
                      <fa-icon class="icon ml-2 iconos" [icon]="faUserTie"></fa-icon>
                    </div>
                    <div class="det-usuarios">
                      <div class="num-usuarios">
                        <p class="mt-3">{{cantidadUsuariosRegistrados}}</p>
                      </div>
                      <fa-icon class="icon ml-2 iconos" [icon]="faUser"></fa-icon>
                    </div>
                  </div>
                  <div class="col-xl-6 cant-usuarios bordes">
                    <div class="total-usuarios mt-3">
                      <p>Total de Usuarios:</p>
                      <div class="num-usuarios ml-1">
                        <p class="mt-3">{{cantidadUsuariosAdmins+cantidadUsuariosRegistrados}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Medios</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Paginas de informacion</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Posts</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Paginas de Principal</b>
            </ng-template>
            <ng-template ngbPanelContent >
              <div class="container-fluid" *ngIf="paginaPrincipal != undefined">
                <div class="row">
                  <ul class="list-group col-xl-12">
                    <li class="list-group-item">Titulo:        {{paginaPrincipal.titulo}}</li>
                    <li class="list-group-item">Logo : <img width="40px" height="40px" src="../../../../assets/img/icono (2).png" alt=""></li>
                    <li class="list-group-item">Descripcion : {{paginaPrincipal.descripcion}}</li>
                    <li class="list-group-item">Favicon : <img width="40px" height="40px"  src="../../../../assets/img/icono.png" alt=""></li>
                    <li class="list-group-item">Visibilidad : {{paginaPrincipal.visibilidad}}</li>
                    <li class="list-group-item">Imagenes : {{paginaPrincipal.imagenes.length}} <fa-icon class="icon ml-2 iconos" [icon]="faImage"></fa-icon></li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
          <div class="col-xl-6 mb-5"><ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
          <ngb-panel >
            <ng-template ngbPanelTitle >
              <b>Resumen de Temas</b>
            </ng-template>
            <ng-template ngbPanelContent >
              
            </ng-template>
          </ngb-panel>
        </ngb-accordion></div>
      </div>
</div>
