<div class="container-fluid ">
    <div class="row contenedor-header-registro">
        <div class="col-xl-4 col-lg-4 col-md-5" ></div>
        <div class="col-xl-4 col-lg-4 col-md-2 contenedor-logo">
            <nav class="navbar navbar-light  col-xl-2 logo">
                <a class="navbar-brand" href="#">
                  <img width="55px" height="55px" src="../../../assets/img/logoProyecto.png" alt="FLAN">
                  <p class="logo">FLAN</p>
                </a>
              </nav>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5"></div>
    </div>
</div>


