<div class="d-flex" #wrapper>

    <!-- Sidebar -->
    <div *ngIf="cambio==0 "  class="bg-dark border-dark" id="sidebar-wrapper">
      <div *ngIf="load" class="sidebar-heading ml-2" routerLink="/admin">
        <img width="45px" height="45px" height="45px" [src]="logoPaginaPrincipal || '../../../assets/img/logoProyecto.png'" alt="FLAN">
        <p class="logo ml-2">{{tituloPaginaPrincipal || 'FLAN'}}</p>
      </div>
      <div class="overlay" style="background-color: #f7eab7;height: 63px;display: flex;justify-content: center;align-items: center;" *ngIf="!load">
        <div class="spinner-border text-warning" role="status">
            <span  class="sr-only">Loading...</span>
        </div>   
      </div> 
      <hr class="bg-gray">

      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/admin/usuarios"><fa-icon class="icon mr-2" [icon]="faUser"></fa-icon>Usuarios</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/admin/medios"><fa-icon class="icon mr-2" [icon]="faPhotoVideo"></fa-icon>Medios</a> -->
        <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/admin/pagina-principal"><fa-icon class="icon mr-2" [icon]="faFileInvoice"></fa-icon>Pagina Principal</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/admin/paginas-informativas"><fa-icon class="icon mr-2" [icon]="faFileCode"></fa-icon>Pag. Informativas</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/admin/posts"><fa-icon class="icon mr-2" [icon]="faBookReader"></fa-icon>Posts</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/admin/temas"><fa-icon class="icon mr-2" [icon]="faPalette"></fa-icon>Temas</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-ligh border-bottom nav-admin">
        <div class="ocultar" id="menu-toggle" (click)="ocultarSidebar()"><fa-icon *ngIf="cambio==0" class="icon mr-2 " [icon]="faArrowAltCircleLeft"></fa-icon><fa-icon *ngIf="cambio==1" class="icon mr-2" [icon]="faArrowAltCircleRight"></fa-icon></div>

        <button class="navbar-toggler boton-responsive" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--navbar-nav ml-auto mt-2 mt-lg-0 -->
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul ngbNav #nav="ngbNav"  class="justify-content-center navbar-nav opciones-admin">
            <li ngbDropdown class="nav-item ml-3 mr-3">
                <a class="nav-link" ngbDropdownToggle routerLink="/admin/usuarios"><fa-icon class="icon mr-2" [icon]="faUser"></fa-icon></a>
            </li>
            <!-- <li  class="nav-item mr-3">
                <a class="nav-link" routerLink="/admin/medios"><fa-icon class="icon mr-2" [icon]="faPhotoVideo"></fa-icon></a>
            </li> -->
            <li class="nav-item mr-3">
              <a class="nav-link" routerLink="/admin/pagina-principal"><fa-icon class="icon mr-2" [icon]="faFileInvoice"></fa-icon></a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" routerLink="/admin/paginas-informativas"><fa-icon class="icon mr-2" [icon]="faFileCode"></fa-icon></a>
            </li>
            <!-- <li class="nav-item mr-3">
              <a class="nav-link" routerLink="/admin/posts"><fa-icon class="icon mr-2" [icon]="faBookReader"></fa-icon></a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" routerLink="/admin/temas"><fa-icon class="icon mr-2" [icon]="faPalette"></fa-icon></a>
            </li> -->
          </ul>
          <ul ngbNav #nav="ngbNav"  class=" justify-content-center ml-auto">
            <li class="nav-item" *ngIf="token !=null && usuario !=''">
              <div  class="nav-link foto-perfil"><img [src]="fotoPerfil || '../../../../assets/img/perfil_default.jpg'" alt="foto..perfil"></div>
            </li>
            <li  *ngIf="token !=null && usuario !=''" ngbDropdown class="nav-item nombre-usuario">

              <a href (click)="false" class="nav-link perfil" ngbDropdownToggle>{{usuario}}</a>
              <div ngbDropdownMenu class="opciones-perfil">
                <button ngbDropdownItem (click)="abrirEditarPerfil(modalEditarPerfil)">Editar Perfil</button>
                <button ngbDropdownItem routerLink="/">Principal</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem (click)="logout()">Cerrar Sesion</button>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- /#page-content-wrapper -->

  </div>


<ng-template #modalEditarPerfil let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{usuario}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="opcionPerfil==0" class="opciones-edicion">
      <button class="btn btn-outline-warning mr-2" (click)="infoUsuarioLogueado()">Editar Informacion</button>
      <button class="btn btn-outline-dark mr-2" (click)="fotoUsuarioLogueado()">Editar Imagen</button>
    </div>
    <div *ngIf="(opcionPerfil!=0 && opcionPerfilInfo==1)">
      <form [formGroup] ="EditarInfoUsuario">
        <div class="form-group">
          <label for="inputAddress">Usuario</label>
          <input type="text" class="form-control" id="inputAddress"  [ngClass]="{'input-error':usuarioP.invalid && (usuarioP.dirty || usuarioP.touched)}" formControlName="usuario" required>
          <div *ngIf="usuarioP.invalid && (usuarioP.dirty || usuarioP.touched)" class="error">
            <fa-icon class="icon mr-1" [icon]="faExclamation"></fa-icon>
            <span *ngIf ="usuarioP.errors.required">El campo es obligatorio</span>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <input type="email" class="form-control" [ngClass]="{'input-error':correoP.invalid && (correoP.dirty || correoP.touched)}" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="correo" required>
          <div *ngIf="correoP.invalid && (correoP.dirty || correoP.touched)" class="error">
            <fa-icon class="icon mr-1" [icon]="faExclamation"></fa-icon>
            <span *ngIf ="correoP.errors.required">El campo es obligatorio</span>
          </div>
        </div>
        <div class="form-group">
          <label for="Contraseña">Nueva Contraseña</label>
          <input type="password" id="Contraseña" class="form-control" placeholder="Ingrese la nueva contraseña" [ngClass]="{'input-error':contrasenaP.invalid && (contrasenaP.dirty || contrasenaP.touched)}" formControlName="contrasena" required>
          <div *ngIf="contrasenaP.invalid && (contrasenaP.dirty || contrasenaP.touched)" class="error">
            <fa-icon class="icon mr-1" [icon]="faExclamation"></fa-icon>
            <span *ngIf ="contrasenaP.errors.required">El campo es obligatorio</span>
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" id="telefono"  [ngClass]="{'input-error':telefonoP.invalid && (telefonoP.dirty || telefonoP.touched)}" formControlName="telefono" required>
          <div *ngIf="telefonoP.invalid && (telefonoP.dirty || telefonoP.touched)" class="error">
            <fa-icon class="icon mr-1" [icon]="faExclamation"></fa-icon>
            <span *ngIf ="telefonoP.errors.required">El campo es obligatorio</span>
            <span *ngIf ="telefonoP.errors.minlength">El minimo permitido son 8 digitos</span>
          </div>
        </div>
        <button [disabled]="!EditarInfoUsuario.valid" data-dismiss="modal" type="submit" class="btn btn-success"  (click)="editarInfoUsuario()">Editar Informacion</button>
      </form>
    </div>
    <div *ngIf="(opcionPerfil!=0 && opcionPerfilFoto==2)" class="justify-content-center contenedor-foto">
      <input type="file" accept=".png, .jpg" class="d-none" (change)="fotoSeleccionada($event)" #fotoInput>
      <div class="contenedor-foto-perfil">
        <p>Seleccione una foto</p>
        <img [src]="fotoSelect || '../../../../assets/img/no-image.png'" class="img-fluid" alt="foto perfil" (click)="fotoInput.click()">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"  [style.width]="(uploadPorcent | async) + '%'">
          </div>
        </div>
        <input #imagen type="hidden" [value]="urlImage | async">
        <br>
        <button *ngIf="urlImage | async;else btnDisable" type="button" class="btn btn-outline-success" (click)="editarFoto()">Editar Foto</button>
        <ng-template #btnDisable>
          <button  type="button" class="btn btn-secondary" disabled=true (click)="editarFoto()">Editar Foto</button>
        </ng-template>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" *ngIf="opcionPerfil != 0" (click)='urlImage=null' (click)="fotoSelect=''"  (click)="opcionPerfil = 0" >Volver</button>
    <button type="button" class="btn btn-outline-danger" (click)="cerrarModal()">Cancelar</button>
  </div>
</ng-template>