table{
  margin: 0px;
}

thead{
  font-size: 18px;
}

.tablas{
  text-align: center;

}

.container-fluid{
  overflow-x: auto;
}

.iconos{
  font-size: 25px;
  cursor: pointer;
}

.img-pag{
  min-height: 100px;
}
.contenedor-fotos{
  display: flex;
}

.contenedor-foto{
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenedor-foto-perfil{
  text-align: center;
}

.contenedor-foto-perfil img{
  cursor: pointer;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
}

.contenedor-nueva-foto img{
  cursor: pointer;
}

.contenedor-imagenes{
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color:  #eaecee ;
}

hr{
  margin-bottom: 0px;
  
} 


.iconos-gestion{
  font-size: 30px;
  cursor: pointer;
}

.card-img-top{
  background-size: cover;
  background-position: center center;

}

.gestion-imagen{
  display: flex;
  justify-content: center;
}

.dark{
  background-color: #eaecee ;
}
ngb-accordion::ng-deep.card::ng-deep
  .card-body{
    color: #666666;
    padding: 0px;
  }

ngb-accordion::ng-deep.card::ng-deep
  .card-header{
    background-color:    #d5d8dc  ;
  }
  
ngb-accordion::ng-deep.card::ng-deep
  .btn{
    color:#444444;
    text-decoration: none;
    font-size: 22px;
  }

ngb-accordion::ng-deep.card::ng-deep
  .btn:focus{
      box-shadow: 0 0 0 .2rem rgba(1, 15, 31, 0.25);
  }


  @media (max-width:1500px){
    .card-img-top{
      background-size: cover;
      background-position: center center;
    }

    thead{
      font-size: 15px;
    }
    
  }

  @media (max-width:1200px){
    .card-img-top{
      background-size: cover;
      background-position: center center;
    }

    thead{
      font-size: 15px;
    }

    tbody{
      font-size: 12px;
    }
    
  }

  @media (max-width:997px){
    .card-img-top{
      background-size: cover;
      background-position: center center;
    }

    thead{
      font-size: 15px;
    }

    tbody{
      font-size: 13px;
    }

    .card-text{
      font-size: 14px;
    }
    
  }

  
  @media (max-width:778px){
    .card-img-top{
      background-size: cover;
      background-position: center center;
    }

    thead{
      font-size: 15px;
    }

    tbody{
      font-size: 11px;
    }
    
    .c{
      display: block;
      width: 100%;
      overflow-x: auto;
    }

    .card-title{
      text-align: center;
      font-size: 17px;
      font-weight: bold;
    }

    .card-text{
      font-size: 13px;
    }

    ngb-accordion::ng-deep.card::ng-deep
      .btn{
        color:#444444;
        text-decoration: none;
        font-size: 18px;
      }
  }