<div class="container-fluid contenedor-formulario">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4 formulario">
            <div class="registroUsuario">
              <form>
                  <div>
                    <h4>REGISTRO USUARIO</h4><hr>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Usuario</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Ej:Jmark98">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Correo Electronico</label>
                      <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Contraseña</label>
                      <input type="password" class="form-control" id="inputPassword4">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Direccion</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Tegucigalpa,Barrio Guanacaste">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Telefono</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Ej:99345612">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Ciudad</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Tipo de Negocio</label>
                      <select id="inputState" class="form-control">
                        <option selected>Seleccione</option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="boton-registrar">
                    <button  type="submit" class="btn btn-primary">Registrar</button>
                  </div>
                </form>
            </div>
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>
