<div class="contenedor-herramientas">
    <div class="categorias-herramientas">
        <div>
            <p class="frase">Herramientas</p>
            <table class="tabla-categorias table opciones-sitio">
                <tr>
                    <td><li>Crea tu marca &nbsp;</li></td>
                    <td><li>Crea tu sitio &nbsp;</li></td>
                    <td><li>Crea tus propias plantillas &nbsp;</li></td>
                    <td><li>Codifica a tu gusto &nbsp;</li></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="separador-herramientas"></div>
<div class="contenedor-opciones">
    <div class="definicion-opciones">
        <table class="tabla-categorias table ">
            <tr class="fila-categoria">
               <td class="img-categoria"><img src="../../../assets/img/administra .jpg" alt=""></td>
               <td class="contenido-categoria">
                   <p class="titulo-categoria" >Administrador</p>
                   <p>En nuestro servicio seras tu propio admnistrador,podras colocar la informacion que tu desees,eliminar,agregar,editar y borrar a tu gusto.</p></td>
            </tr>
        </table>
        <table class="tabla-categorias table ">
            <tr>
                <td class="img-categoria"><img src="../../../assets/img/codifica-sitio.jpg" alt=""></td>
                <td>
                   <p class="titulo-categoria" >Codificador</p>
                   <p>Podras  personalizar tus sitios por medio de shortcuts que se te brindaran en la documentacion del servicio.</p>
                </td>
            </tr>
        </table>
        <table class="tabla-categorias table ">
            <tr>
               <td class="img-categoria"><img src="../../../assets/img/crear-sitio.jpg" alt=""></td>
               <td>
                   <p class="titulo-categoria" >Plantillas Personalizada</p>
                   <p>Tendras una basta seleccion de opciones para agregar en tus sitios,como ser,videos,imagenes,archivos..etc</p></td>
            </tr>
        </table>
    </div>
</div>
