<div class="container-fluid footer">
    <div class="row">
        <div class="col-xl-9">
            <p>Derechos Reservados 2020 FLAN-CO.</p>
        </div>
        <div class="col-xl-3 redes-sociales">
            <div class="contenedor-social">
                <div class="social"><i class="fab fa-2x fa-facebook-f"></i></div>
                <div class="social"><i class="fab fa-2x fa-instagram"></i></div>
                <div class="social"><i class="fab fa-2x fa-twitter"></i></div>
                <div class="social"><i class="fab fa-2x fa-whatsapp"></i></div>
            </div>
        </div>
    </div>
</div>