<div class="container-fluid footer">
    <div class="row">
        <div class="col-xl-9">
            <p>Derechos Reservados 2020 FLAN-CO.</p>
        </div>
        <div class="col-xl-3 redes-sociales">
            <div class="contenedor-social">
                <a href="https://github.com/JosueSilvaA/FLAN-WEB" target="_blank"><fa-icon class="icon-github" [icon]="faGithub"></fa-icon></a>
                <button class="btn btn-warning" routerLink="/registroUsuario" type="button">UNETE A NUESTRO SERVICIO</button>
            </div>
        </div>
    </div>
</div>