<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="col-xl-2 logo">
    <a class="navbar-brand" routerLink="/principal">
      <img width="45px" height="45px" src="../../../assets/img/logoProyecto.png" alt="FLAN">
      <p class="logo">FLAN</p>
    </a>
    <button class="navbar-toggler btn-navbar" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
  </div>
  

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between">
      <ul ngbNav #nav="ngbNav"  class=" justify-content-center">
        <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link" ngbDropdownToggle>Mis Paginas</a>
            <div ngbDropdownMenu>
                <button ngbDropdownItem routerLink="/blog">Blog</button>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/herramientas">Herramientas</a>
        </li>
        <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link" ngbDropdownToggle>Acerca De</a>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="abrirAcercaDe(modalAyuda)">Ayuda y Soporte</button>
                <button ngbDropdownItem (click)="abrirAcercaDe(modalNosotros)">Nosotros</button>
            </div>
        </li>    
      </ul>
      <ul ngbNav #nav="ngbNav"  class=" justify-content-center">
        <li *ngIf="token ==null" ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Inicio Sesion</a>
          <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="abrirLogin(modalLoginUsuario)">Usuario</button>
              <button ngbDropdownItem (click)="abrirLogin(modalLoginAdmin)">Administrador</button>
          </div>
        </li>
        <li *ngIf="token ==null" class="nav-item">
            <a class="nav-link" routerLink="/registroUsuario">Registrarse</a>
        </li>
        <li class="nav-item" *ngIf="token !=null && usuario !=''"> 
          <div  class="nav-link foto-perfil"><img [src]="fotoPerfil || '../../../../assets/img/perfil_default.jpg'" alt="foto..perfil"></div>
        </li>
        <li  *ngIf="token !=null && usuario !=''" ngbDropdown class="nav-item">
          
          <a href (click)="false" class="nav-link perfil" ngbDropdownToggle>{{usuario}}</a>
          <div ngbDropdownMenu class="opciones-perfil">
            <button ngbDropdownItem (click)="abrirEditarPerfil(modalEditarPerfil)">Editar Perfil</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="logout()">Cerrar Sesion</button>
          </div>
        </li>
      </ul>
  </div>
</nav>

<!--MODALES-->

<ng-template #modalNosotros let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login Administrador</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p class="parrafos">
          Flan es un CMS el cual la temática de colores y de interactividad es entorno al color amarillo característico del postre. El motivo del nombre y del icono que es el característico de GitHub es porque el proceso del flan se parece al proceso de crear y diseñar una página web porque, aunque el final se sabe que será un flan, lo que no se sabe es el aspecto que el tendrá.
          El proceso que se da en un CMS es el mismo porque es el usuario el que elige que ponerle y como ponerle los componentes que quisiera su página y la temática que quisiera.
      </p>
  </div>
</ng-template>

<ng-template #modalAyuda let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login Administrador</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div>
          <h4><b>Inicio</b></h4>
          <p>Si usted tiene inconvenientes o dudas sobre como hacer el proceso de instalacion o implementacion de nuestro sistema lea la siguiente documentacion.  <a href="https://github.com/JosueSilvaA/FLAN-WEB" target="_blank">Seguir lectura en Github</a></p>
         
        </div>
        <div>
          <h4><b>Crear</b></h4>
          <p>Si usted tiene inconvenientes o dudas sobre el manejo del sistema puede leer el manual en el enlace adjunto. <a href="https://github.com/JosueSilvaA/FLAN-WEB" target="_blank">Seguir lectura en Github</a></p>
          
        </div>
        <div>
          <h4><b>Soporte Tecnico</b></h4>
          <p>Si usted tiene inconvenientes o fallas en el sistema contactenos al siguiente numero . <b>22305522</b></p>
        </div>
  </div>
</ng-template>


<ng-template #modalLoginUsuario let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup] ="InicioSesionUsuario">
          <div class="form-group">
              <label for="exampleInputEmail1">Correo Electronico</label>
              <input type="email" class="form-control" [ngClass]="{'input-error':correoN.invalid && (correoN.dirty || correoN.touched)}" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="correo" required>
              <div *ngIf="correoN.invalid && (correoN.dirty || correoN.touched)" class="error">
                  <span *ngIf ="correoN.errors.required">Error el campo es obligatorio</span>
              </div>
            
          </div>
          <div class="form-group">
              <label for="Contraseña">Contraseña</label>
              <input type="password" id="Contraseña" class="form-control" [ngClass]="{'input-error':contraN.invalid && (contraN.dirty || contraN.touched)}" formControlName="contra" required>
              <div *ngIf="contraN.invalid && (contraN.dirty || contraN.touched)" class="error">
                  <span *ngIf ="contraN.errors.required">Error el campo es obligatorio</span>
              </div>
          </div>
          <button [disabled]="!InicioSesionUsuario.valid" data-dismiss="modal"  type="submit" class="btn btn-primary" (click)="loginRegistrado()">Loguear</button>
        </form>
  </div>
</ng-template>
<!-- Modal Usuario -->

<!---fin modal usuario-->

<!-- Modal Administrador -->
<ng-template #modalLoginAdmin let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login Administrador</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup] ="InicioSesionAdmin">
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electronico</label>
            <input type="email" class="form-control" [ngClass]="{'input-error':correoA.invalid && (correoA.dirty || correoA.touched)}" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="correo" required>
            <div *ngIf="correoA.invalid && (correoA.dirty || correoA.touched)" class="error">
              <span *ngIf ="correoA.errors.required">Error el campo es obligatorio</span>
            </div>
          </div>
          <div class="form-group">
            <label for="Contraseña">Contraseña</label>
            <input type="password" id="Contraseña" class="form-control" [ngClass]="{'input-error':contraA.invalid && (contraA.dirty || contraA.touched)}" formControlName="contra" required>
            <div *ngIf="contraA.invalid && (contraA.dirty || contraA.touched)" class="error">
              <span *ngIf ="contraA.errors.required">Error el campo es obligatorio</span>
          </div>
          </div>
          <button [disabled]="!InicioSesionAdmin.valid" data-dismiss="modal" type="submit" class="btn btn-primary" (click)="loginAdmin()">Loguear</button>
        </form>
  </div>
</ng-template>

<!-- MODAL EDITAR PERFIL-->

<ng-template #modalEditarPerfil let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{usuario}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="opcionPerfil==0" class="opciones-edicion">
      <button class="btn btn-outline-warning mr-2" (click)="infoUsuarioLogueado()">Editar Informacion</button>
      <button class="btn btn-outline-dark mr-2" (click)="fotoUsuarioLogueado()">Editar Imagen</button>
    </div>
    <div *ngIf="(opcionPerfil!=0 && opcionPerfilInfo==1)">
      <form [formGroup] ="EditarInfoUsuario">
        <div class="form-group">
          <label for="inputAddress">Usuario</label>
          <input type="text" class="form-control" id="inputAddress"  [ngClass]="{'input-error':usuarioP.invalid && (usuarioP.dirty || usuarioP.touched)}" formControlName="usuario" required>
          <div *ngIf="usuarioP.invalid && (usuarioP.dirty || usuarioP.touched)" class="error">
            <span *ngIf ="usuarioP.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <input type="email" class="form-control" [ngClass]="{'input-error':correoP.invalid && (correoP.dirty || correoP.touched)}" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="correo" required>
          <div *ngIf="correoP.invalid && (correoP.dirty || correoP.touched)" class="error">
            <span *ngIf ="correoP.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div class="form-group">
          <label for="Contraseña">Nueva Contraseña</label>
          <input type="password" id="Contraseña" class="form-control" placeholder="Ingrese la nueva contraseña" [ngClass]="{'input-error':contrasenaP.invalid && (contrasenaP.dirty || contrasenaP.touched)}" formControlName="contrasena" required>
          <div *ngIf="contrasenaP.invalid && (contrasenaP.dirty || contrasenaP.touched)" class="error">
            <span *ngIf ="contrasenaP.errors.required">Error el campo es obligatorio</span>
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" id="telefono"  [ngClass]="{'input-error':telefonoP.invalid && (telefonoP.dirty || telefonoP.touched)}" formControlName="telefono" required>
          <div *ngIf="telefonoP.invalid && (telefonoP.dirty || telefonoP.touched)" class="error">
            <span *ngIf ="telefonoP.errors.required">Error el campo es obligatorio</span>
            <span *ngIf ="telefonoP.errors.minlength">El minimo permitido son 8 digitos</span>
          </div>
        </div>
        <button [disabled]="!EditarInfoUsuario.valid" data-dismiss="modal" type="submit" class="btn btn-success"  (click)="editarInfoUsuario()">Editar Informacion</button>
      </form>
    </div>
    <div *ngIf="(opcionPerfil!=0 && opcionPerfilFoto==2)" class="justify-content-center contenedor-foto"> 
      <input type="file" accept=".png, .jpg" class="d-none" (change)="fotoSeleccionada($event)" #fotoInput>
      <div class="contenedor-foto-perfil">
        <p>Seleccione una foto</p>
        <img [src]="fotoSelect || '../../../../assets/img/no-image.png'" class="img-fluid" alt="foto perfil" (click)="fotoInput.click()">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"  [style.width]="(uploadPorcent | async) + '%'">
          </div>
        </div>
        <input #imagen type="hidden" [value]="urlImage | async">
        <br>
        <button *ngIf="urlImage | async;else btnDisable" type="button" class="btn btn-outline-success" (click)="editarFoto()">Editar Foto</button>
        <ng-template #btnDisable>
          <button  type="button" class="btn btn-secondary" disabled=true (click)="editarFoto()">Editar Foto</button>
        </ng-template>
      </div>
     
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" *ngIf="opcionPerfil != 0" (click)='urlImage=null' (click)="fotoSelect=''"  (click)="opcionPerfil = 0" >Volver</button>
    <button type="button" class="btn btn-outline-danger" (click)="cerrarModal()">Cancelar</button>
  </div>
</ng-template>